# Simulink/MATLAB temporary and chache files
slprj/
sfprj/
codegen/
work/
*.asv
*.autosave
*.slxc
*.mex*
*.log
*.bak
*.mdl.r*
*.slx.r*

# Folders
test/
models/

# Hidden MATLAB directories
.DS_Store
*.mlappinstall
*.mlpkginstall
